# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Contiki
*~
*core
core
*.srec
*.lst
*.map
*.cprg
*.bin
*.data
contiki*.a
*.firmware
core-labels.S
*.ihex
*.ini
*.ce
*.co
obj_sky
symbols.[ch]
*.sky
